ShowLineVer3/Service References/ShowLineServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShowLineWcfService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShowLineWcfService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTicketSeatModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketSeatModel" nillable="true" type="tns:TicketSeatModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketSeatModel" nillable="true" type="tns:ArrayOfTicketSeatModel" />
  <xs:complexType name="TicketSeatModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUSTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventSPID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeatesBooked" type="xs:int" />
      <xs:element minOccurs="0" name="TicketType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketSeatModel" nillable="true" type="tns:TicketSeatModel" />
</xs:schema>